@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto Condensed";
}

.main-container {
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
}

/* Top Navbar */
.navbar {
  background-color: #5d5c61;
}

.navbar-logo{
  font-size: 30px;
  text-decoration: none;
  color: #ff0202;
}
.navbar-logo:hover {
  text-decoration: none;
  color: #fff;
}
.nav-link{
  color: #fff;
  text-decoration: none;
}
.nav-link:hover{
  color: #cfcdd4;
}

.navbar-side {
  display: flex;
  flex-direction: column; 
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

}




.overlay,
.sideMenu {
  position: fixed;
  bottom: 0;
  
}
.overlay {
  top: 0;
  left: -100%;
  right: 100%;
  margin: auto;
  z-index: 998;
  transition: all ease 0.2s;
}
.overlay.open {
  left: 0;
  right: 0;
  background-color: #5d5c61;
}
.sidebarNavigation {
  margin-bottom: 0;
  z-index: 999;
  justify-content: flex-start;
}
.sidebarNavigation .leftNavbarToggler {
  margin-right: 10px;
  order: -1;
}
.sideMenu {
  left: -100%;
  top: 52px;
  transition: all ease 0.5s;
  overflow: hidden;
  width: 100%;
  z-index: 999;
  max-width: 80%;
  margin-bottom: 0;
  padding: 1rem;
}
.sideMenu.open {
  left: 0;
  display: block;
  overflow-y: auto;
}
.sideMenu ul {
  margin: 0;
  padding: 0 15px;
}

/*Home page*/
p {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  font-size: 20px;
  margin: 40px;
}
.banner-image {
  background-image: url(../imgs/home-bg.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content {
  text-align: center;
  color: #fff;
}
.banner-content h1 {
  line-height: 38px;
  margin-bottom: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 90px;
}
.banner-content h1 span {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  color: #fff;
}
.wrapper {
  padding: 5% 10%;
  text-align: center;
}
h2.title {
  margin: bottom;
  color: #444444;
  text-transform: uppercase;
  font-size: 38px;
  word-spacing: 5px;
}
.btn a {
  display: block;
  width: 180px;
  height: 25px;
  border: 2px solid #ff0202;
  text-decoration: none;
  color: #ff0202;
  margin: 25px auto 0;
  text-align: center;
}

/*About page*/
.banner-image-about {
  background-image: url(../imgs/about-bg.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content-about {
  text-align: center;
  color: #fff;
}

.content-area-about p {
  text-align: left;
}

/*Gallery


.gallery {
  background-color: #ff0202;
  padding: 20px;

  align-items: center;
}
.gallery_item {
  float: left;
  padding: 5px;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 0px;
  border: 3px #ff0202;
  align-items: center;
}
*/
.btn:focus,
.btn:active,
button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer {
  display: block;
}

.thumb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.portfolio .thumbnail {
  position: relative;
}

.portfolio .thumbnail:hover {
  cursor: pointer;
}

.portfolio .caption {
  bottom: 0;
  position: absolute;
}

.portfolio .btn {
  opacity: 0.75;
}

/* Contact Us Page */
.contact {
  width: 75%;
  margin-top: 20px;
  margin-left: 12.5%;
  margin-right: 12.5%;
  background-color: #5d5c61;
  padding: 20px;

  align-items: center;
}
.contact h1 {
  text-align: center;
  font-weight: bold;
  letter-spacing: bold;
  color: #000;
  padding-bottom: 10px;
  font-size: 50px;
}
.contact h1:after {
  content: "";
  background: #000;
  display: block;
  height: 3px;
  width: 150px;
  margin: 10px auto;
}
.contact-container {
  background-color: #ff0202;
  padding: 20px;
  margin: 15px 15px;
}
.card-contact {
  background-color: #fff;
  padding: 20px;
}
.contact img {
  float: left;
  margin-right: 10px;
}
.contact-text {
  align-items: left;
  font-size: 30px;
  position: relative;
  padding: 5px 0;
}
.contact-us {
  text-align: center;
  font-size: 30px;
}
.contact-us h2 {
  font-size: 60px;
}
.contact-form {
  background-color: #444444;
  width: 45%;
  margin-left: 27.5%;
  margin-right: 27.5%;
  margin-bottom: 5%;
  padding: 50px;
}
.contact-us .form-group {
  font-size: 40px;
  margin: 0;
  padding: 10px;
}
.contact-us label {
  font-size: 30px;
  color: #fff;
}
.btn-contact {
  display: block;
  width: 125px;
  height: 30px;
  border: 2px solid #ff0202;
  text-decoration: none;
  color: #ff0202;
  margin: 25px auto 0;
  text-align: center;
  font-size: 20px;
}
.contact-form input {
  padding: 3px;
}

/* Events page */

.event-title {
  text-align: center;
  font-size: 26px;
}
.event {
  text-align: left;
}

.card-event {
  width: 45%;
  margin-left: 27.5%;
  margin-right: 27.5%;
  margin-bottom: 5%;
  padding: 50px;
  padding-bottom: 20px;
  padding-top: 10px;
  background-color: #5d5c61;
}
.card-event h5 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.card-event h6 {
  font-size: 17px;
  padding: 0;
  margin: 0;
  color: #fff;
}
.card-event p {
  color: #fff;
  font-size: 16px;
}
.event-space {
  margin: 20px;
  padding: 30px;
}
