
body {
  background: #fff;
}

.wrapper {
  display: flex;
  position: relative;

}
.wrapper .side-nav {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #4b4276;
}

.wrapper .side-nav ul {
  list-style: none;
}

.wrapper .side-nav ul li {
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0,0.05);
  border-top: 1px solid rgba(225,225,225,0.05);
}

.wrapper .sidebar ul li:hover{
  background: #594f8d;
  
}

.wrapper .side-nav ul li a{
  color: #bdb8d7;
  display: block;
}
.wrapper .side-nav ul li a .fas{
  width: 25px;


}
.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;

}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}
.wrapper .main_content .header .logout{
  float: right;
}

.wrapper .main_content .users {
  margin: 20px;
  color: #717171;
  line-height: 25px;

}
